@model Hospital_System.Models.DTOs.Appointment.AppointmentDTO

@{
    ViewData["Title"] = "Choose Doctor";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-7">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Choose Doctor from @ViewBag.DepartmentName Department</h4>

                    <form asp-controller="Appointment" asp-action="SelectTimeSlot" method="post">
                        <div class="form-group">
@*                            <label for="DoctorId">Doctor:</label>
*@                            <select class="form-control" asp-for="DoctorId">
                                <option value="" disabled>Select a Doctor</option>
                                @foreach (var doctor in ViewBag.Doctors)
                                {
                                    <option value="@doctor.Id">@doctor.FullName</option>
                                }
                            </select>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Next</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>