@model Hospital_System.Models.DTOs.Department.InDepartmentDTO
 

@{
    ViewData["Title"] = "Add Department";
    Layout = "_AdminLayout";
}



<h2>Add Department</h2>

@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@ViewData["ErrorMessage"]</div>
}

<form asp-controller="Dashboards" asp-action="AddDepartment" method="post" enctype="multipart/form-data" class="mb-5 mt-5">
    <div class="form-group">
        <label asp-for="DepartmentName">Department Name</label>
        <input asp-for="DepartmentName" class="form-control" />
        <span asp-validation-for="DepartmentName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="HospitalID">Hospital ID</label>
        <input asp-for="HospitalID" class="form-control" />
        <span asp-validation-for="HospitalID" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label for="file">Select Image</label>
        <input type="file" name="file" class="form-control" required />
    </div>

    <div class="form-group">
        <label asp-for="Description">Description </label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-primary" style="background-color: #14274E; border-color: #14274E;">Submit</button>
</form>