@model Hospital_System.Models.DTOs.Hospital.OutHospitalDTO

@{
    ViewData["Title"] = "Add Hospital";
    Layout = "_AdminLayout";

}

<h2>Add Hospital</h2>

@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@ViewData["ErrorMessage"]</div>
}

<form asp-controller="Dashboards" asp-action="AddHospital" method="post" class="mb-5 mt-5">
    <div class="form-group">
        <label asp-for="HospitalName">Hospital Name</label>
        <input asp-for="HospitalName" class="form-control" />
        <span asp-validation-for="HospitalName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Address">Address</label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ContactNumber">Contact Number</label>
        <input asp-for="ContactNumber" class="form-control" />
        <span asp-validation-for="ContactNumber" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary" style="background-color: #14274E; border-color: #14274E;">Submit</button>
</form>